packaging_format = 2

id = "anki-syncserver"
name = "Anki Sync Server"
description.en = "Sync server for Anki flashcard application"
description.fr = "Serveur de synchronisation pour l'application Anki"

version = "25.09~ynh1"

maintainers = ["endorama"]

[upstream]
license = "AGPL-3.0-or-later"
website = "https://apps.ankiweb.net/"
demo = "https://apps.ankiweb.net/"
admindoc = "https://docs.ankiweb.net/sync-server.html"
code = "https://github.com/ankitects/anki"

[integration]
yunohost = ">= 11.2"
architectures = ["amd64", "arm64"]
multi_instance = true
ldap = false
sso = false
disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/anki/"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]
    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]
    main.default = 8080

    [resources.apt]
    packages = ["python3-venv"]

